@model Stores.ViewModels.StoreFormViewModel

@{
    ViewData["title"] = "Apply";
}

<h2>Apply for a Store Account</h2>

@using (Html.BeginForm("Apply", "StoreAccountApplication"))
{
    @Html.AntiForgeryToken()
    <hr/>
    <h4>Business Info</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Store Name")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category)
        @Html.DropDownListFor(m => m.Category,
            new SelectList(Model.Categories, "Id", "Name"),
            new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Category)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TaxRegistrationNumber, "Tax Registration Number (TRN)")
        @Html.TextBoxFor(m => m.TaxRegistrationNumber, new {@class = "form-control", placeholder = "e.g. 102-345-678, 245 678 913, 387654120"})
        @Html.ValidationMessageFor(m => m.TaxRegistrationNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CommercialRegistrationNumber, "Commercial Registration Number (CRN)")
        @Html.TextBoxFor(m => m.CommercialRegistrationNumber, new {@class = "form-control", placeholder="e.g. 12345, 678910, CA-452310"})
        @Html.ValidationMessageFor(m => m.CommercialRegistrationNumber)
    </div>
    <hr/>
    <h4>Contact Info</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Phone)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <hr/>
    <button type="submit" class="btn btn-primary save-btn">Apply</button>
}