@model IEnumerable<Stores.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="category-tabs">
    <ul class="nav nav-pills justify-content-center mb-4">
        <li class="nav-item">
            <a class="nav-link category-tab active" href="#" data-category="all">All</a>
        </li>
        @foreach (var category in Model)
        {
            <li class="nav-item">
                <a class="nav-link category-tab" href="#" data-category="@category.Id">@category.Name</a>
            </li>
        }
    </ul>
</div>

<div class="stores-container">
    @foreach (var category in Model)
    {
        <div class="category-stores" data-category-id="@category.Id">
            @foreach (var store in category.Stores)
            {
                <div class="store-section mb-4">
                    <h3 class="store-name">@store.Name</h3>
                    <div class="container">
                        <div class="row">
                            @foreach (var product in store.Products)
                            {
                                <div class="col-6 col-md-4 col-lg-3 mb-4">
                                    <div class="card text-center h-100">
                                        <div class="card-body card-text-bg">
                                            <p class="card-title">@product.Name</p>
                                        </div>
                                        <img src="@product.PhotoLink" alt="@product.Description" class="card-img-bottom img-fluid product-img"/>
                                        <div class="card-footer">
                                            <p>Available: @product.Quantity</p>
                                            <strong>@product.Price.ToString("C")</strong>
                                            <button class="btn btn-outline-primary">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>