@model Stores.ViewModels.ProductFormViewModel

@{
    ViewData["title"] = "Create";
}

<h2>Add Product</h2>

@using (Html.BeginForm("Create", "Products"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Price)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Quantity)
        @Html.TextBoxFor(m => m.Quantity, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Quantity)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhotoLink)
        @Html.TextBoxFor(m => m.PhotoLink, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.PhotoLink)
    </div>
    <button type="submit" class="btn btn-primary save-btn">Save</button>
}